<section class="cards">

    <article class="card">

        <img
            src="../assets/icons/clock.svg"
            alt="Duración">

        <h3 class="card-title">
            Duración
        </h3>

        <p class="card-text">
            20–30 minutos
        </p>

    </article>


    <article class="card">

        <img
            src="../assets/icons/lock.svg"
            alt="Confidencialidad">

        <h3 class="card-title">
            Confidencialidad
        </h3>

    </article>


    <article class="card">

        <img
            src="../assets/icons/user-heart.svg"
            alt="Participación voluntaria">

        <h3 class="card-title">
            Participación voluntaria
        </h3>

    </article>


    <article class="card">

        <img
            src="../assets/icons/chart-bar-popular.svg"
            alt="Resultados agregados">

        <h3 class="card-title">
            Resultados agregados
        </h3>

        <p class="card-text">
            No identificables
        </p>

    </article>

</section>
