<div class="header-logos">

    <img
        src="../assets/logos/institutional_logos_light.png"
        alt="Universidad del Valle de Guatemala y AECID">

</div>


<h3 class="survey-label">

    ENCUESTA REGIONAL

</h3>


<h1 class="survey-title">

    Potencial del sector de videojuegos para el desarrollo económico inclusivo en Centroamérica

</h1>


<p class="survey-subtitle">

    Una iniciativa de investigación de la Universidad del Valle de Guatemala,
    con el apoyo de la Agencia Española de Cooperación Internacional para el Desarrollo (AECID).

</p>
